#box {
  width: 200px;
  height: 100px;
  background-color: yellow;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  color: black;   /* Change this from aliceblue to black */
}

#toggleBtn{
    cursor: pointer;
}

